/* Import the base Tailwind CSS styles */
@import 'tailwindcss/base';

/* Add your custom CSS if needed */

/* Import the component styles (optional) */
@import 'tailwindcss/components';

/* Import the utility styles */
@import 'tailwindcss/utilities';


body {
    display: flex;
    flex-direction: column;
    width: 1410px;
    margin: 0;
}

html {
    margin: 0;
    display: flex;
    justify-content: center;   
}